page-paciente {
    ion-label{
        color: gray;
    }
    
    ion-card{
        min-height: 100%;
    }

    ion-card-header{
        ion-row{
            ion-col{
                padding: 0px 5px !important;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .content-padding-side {
            padding-left: 0px;
            padding-right: 0px;
        }
        .second-card-col {
            margin-top: 16px !important;
        }
    }

    @media only screen and (min-width: 1200px) {
        .content-padding-side {
            padding-left: 5%;
            padding-right: 23%;
        }
    }
}
