
    .loginimg {
        background-color: rgba($color: #474747, $alpha: 1.0);
        background-image: url('../assets/imgs/imglogin.jpeg');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .login-form {
        background-color: rgb(255, 255, 255);
        position: absolute; 
        left: 37%; 
        top: 25%;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        display: flex; 
        align-items: center; 
        justify-content: center;
        border: 3px solid teal !important;
    }

    .logo-sara{
        width: 45%;
        height: 18%;
        position: absolute;
        top: 8%;
        left: 28%;

    }

    .login-input {
		//background-color: #f1f1f1 !important;
		border-radius: 5px;
		border: 1px solid #ccc !important;
		.item-inner {
			margin-left: 10px !important;
		}
    }
    
    ion-icon{
        color: teal;
    }
