
    .loginimg {
        background-image: url('../assets/imgs/imglogin.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-form {
        background-color: rgb(255, 255, 255);
        position: relative; 
        left: 50%; 
        top: 50%;
        transform: translate(-50%, -50%);
        width: 460px;
        height: 460px;
        border-radius: 50%;
        display: flex; 
        align-items: center; 
        justify-content: center;
        border: 3px solid teal !important;
    }

    .logo-sara{
        width: 45%;
        height: 18%;
        position: absolute;
        flex: 1 0 auto;
        top: 8%;
        left: 28%;
        margin-bottom: 25px;

    }

    .login-input {
		border-radius: 5px;
		border: 1px solid #ccc !important;
		.item-inner {
			margin-left: 10px !important;
		}
    }
    
    ion-icon{
        color: teal;
    }
