<!--
  Generated template for the AtendimentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title icon-start>
      <ion-icon name="medkit"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding fullscreen="true" class="content-bg">

  <div margin-top class="content-padding-side">
    <ion-row>
      <ion-col col-12 col-md no-padding>
        <ion-card>
          <ion-card-header>
            <ion-row align-items-center>
              <ion-col>
                <p class="card-title">Atendimentos</p>
              </ion-col>
              <ion-col>
                <button icon-start ion-button class="add-btn" float-right (click)="abrirModalCadastroAtendimento()">
                  <ion-icon name="add"></ion-icon>Novo atendimento
                </button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <div class="divider2"></div>
          <ion-card-content>
            <ion-list>
              <ion-row>
                <ion-col col-12 col-lg-4 padding-left padding-right>
                  <ion-label class="completer-label">Nome do paciente </ion-label>
                  <ng2-completer [textNoResults]="'Nenhum resultado encontrado'" (selected)="selecionado($event)" [(ngModel)]="p" [datasource]="dataService"
                    [minSearchLength]="0"></ng2-completer>
                </ion-col>

                <ion-col col-12 col-lg-4 padding-left padding-right>
                  <ion-item>
                    <ion-label floating>Data inicial</ion-label>
                    <ion-input type="text" [mask]="{mask:'99-99-9999'}" [(ngModel)]="dataInicial"></ion-input>
                  </ion-item>

                </ion-col>

                <ion-col col-12 col-lg-4 padding-left padding-right>
                  <ion-item>
                    <ion-label floating>Data final</ion-label>
                    <ion-input type="text" [mask]="{mask:'99-99-9999'}" [(ngModel)]="dataFinal"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col col-12 col-lg-5 >
                  <ion-item>
                    <ion-label floating padding-left>Responsável</ion-label>
                    <ion-select  interface="popover"[(ngModel)]="filtro.idResponsavel">
                      <ion-option *ngFor="let r of responsaveis" [value]="r.pessoa.id" >{{r.pessoa.nome + ' - ' + r.uf.sigla + '.' +
                        r.numeroConselho}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-lg-5 >
                  <ion-item>
                    <ion-label floating padding-left>Tipo de atendimento</ion-label>
                    <ion-select interface="popover" [(ngModel)]="filtro.idTipoAtendimento">
                      <ion-option *ngFor="let t of tiposAtendimento" [value]="t.id" >{{t.nome}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-lg-2>
                  <button icon-start ion-button class="search-btn" color="dark" float-end (click) = "filtrarAtendimento()">
                    <ion-icon name="search"></ion-icon>Pesquisar
                  </button>
                </ion-col>

              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div margin-top class="content-padding-side">
    <ion-row>
      <ion-col col-12 col-md no-padding>
        <ion-card *ngIf="list.length > 0">
          <ion-card-content>
            <ion-grid>
              <ion-row class="table-header">
                <ion-col class="max-w-100">Data</ion-col>
                <ion-col class="max-w-60">Hora</ion-col>
                <ion-col>Paciente</ion-col>
                <ion-col class="max-w-130">CPF</ion-col>
                <ion-col>Responsável</ion-col>
                <ion-col class="max-w-180">Tipo de atendimento</ion-col>
                <ion-col class="max-w-135">Visualizar/Editar</ion-col>
                <ion-col class="max-w-65">Excluir</ion-col>
              </ion-row>
              <ion-row *ngFor="let l of list" align-items-center class="table-content">
                <ion-col class="max-w-100">{{l.data}}</ion-col>
                <ion-col class="max-w-60">{{l.hora}}</ion-col>
                <ion-col>{{l.paciente.pessoa.nome}}</ion-col>
                <ion-col class="max-w-130">{{l.paciente.pessoa.cpf}}</ion-col>
                <ion-col>{{l.usuario.pessoa.nome}}</ion-col>
                <ion-col class="max-w-180">{{l.tipoAtendimento.nome}}</ion-col>
                <ion-col class="max-w-135"><button ion-button block icon-only clear><ion-icon color="gray" name="eye"></ion-icon></button></ion-col>
                <ion-col class="max-w-65"><button ion-button block icon-only clear><ion-icon color="gray" name="trash"></ion-icon></button></ion-col>
              </ion-row>
            </ion-grid>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="list.length < atendimentos.length">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>