<!--
  Generated template for the AtendimentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title icon-start>
      <ion-icon name="medkit"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding fullscreen="true" class="content-bg">

  <div margin-top class="content-padding-side">
    <ion-row>
      <ion-col col-12 col-md no-padding>
        <ion-card>
          <ion-card-header>
            <ion-row align-items-center>
              <ion-col>
                <p class="card-title">Atendimentos</p>
              </ion-col>
              <ion-col>
                <button icon-start ion-button class="add-btn" float-right (click)="abrirModalCadastroAtendimento()">
                  <ion-icon name="add"></ion-icon>Novo atendimento
                </button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <div class="divider2"></div>
          <ion-card-content>
            <ion-list>
                <form [formGroup]="formData">
              <ion-row>
                <ion-col col-12 col-lg-4 padding-left padding-right>
                  <ion-label class="completer-label">Nome do paciente </ion-label>
                  <ng2-completer formControlName="nome" [textNoResults]="'Nenhum resultado encontrado'" (selected)="selecionado($event)" [(ngModel)]="p" [datasource]="dataService"
                    [minSearchLength]="0"></ng2-completer>
                </ion-col>
                
                  
                <ion-col col-12 col-lg-4 padding-left padding-right>
                  <ion-item [ngClass]="{'invalid': formData.controls.dataInicio.invalid && (formData.controls.dataInicio.dirty || formSubmit)}">
                    <ion-label floating>Data inicial</ion-label>
                    <ion-input formControlName="dataInicio" type="text" [mask]="{mask:'99-99-9999'}" [(ngModel)]="dataInicial"></ion-input>
                  </ion-item>
                  <div class="invalid-hint" *ngIf="(formData.controls.dataInicio.errors?.data || formData.controls.dataInicio.errors?.minlength) && formData.controls.dataInicio.dirty">
                      Data inválida
                  </div>
                </ion-col>

                <ion-col col-12 col-lg-4 padding-left padding-right>
                  <ion-item [ngClass]="{'invalid': formData.controls.dataFim.invalid && (formData.controls.dataFim.dirty || formSubmit)}">
                    <ion-label floating>Data final</ion-label>
                    <ion-input formControlName="dataFim" type="text" [mask]="{mask:'99-99-9999'}" [(ngModel)]="dataFinal"></ion-input>
                  </ion-item>
                  <div class="invalid-hint" *ngIf="(formData.controls.dataFim.errors?.data || formData.controls.dataFim.errors?.minlength) && formData.controls.dataFim.dirty">
                      Data inválida
                  </div>
                </ion-col>
              
              </ion-row>
            </form>
              <ion-row>

                <ion-col col-12 col-lg-5 >
                  <ion-item>
                    <ion-label floating padding-left>Responsável</ion-label>
                    <ion-select  interface="popover"[(ngModel)]="filtro.idResponsavel">
                        <ion-option value="null">Todos</ion-option>
                      <ion-option *ngFor="let r of responsaveis" [value]="r.pessoa.id" >{{r.pessoa.nome + ' - ' + r.uf.sigla + '.' +
                        r.numeroConselho}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-lg-5 >
                  <ion-item>
                    <ion-label floating padding-left>Tipo de atendimento</ion-label>
                    <ion-select interface="popover" [(ngModel)]="filtro.idTipoAtendimento">
                        <ion-option value="null">Todos</ion-option>
                      <ion-option *ngFor="let t of tiposAtendimento" [value]="t.id" >{{t.nome}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-lg-2>
                  <button icon-start ion-button class="search-btn" color="dark" float-end (click) = "filtrarAtendimento()">
                    <ion-icon name="search"></ion-icon>Pesquisar
                  </button>
                </ion-col>

              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div margin-top class="content-padding-side">
    <ion-row>
      <ion-col col-12 col-md no-padding>
        <ion-card *ngIf="list.length > 0">
            <ion-card-header>
                <ion-row align-items-center>
                  <ion-col>
                    <p class="register-counter">{{'Total de registros:  ' + atendimentos.length + '  atendimentos'}}</p>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <div class="divider2"></div>
          <ion-card-content>
            <ion-grid>
              <ion-row class="table-header">
                <ion-col col-1.5>Data</ion-col>
                <ion-col col-1>Hora</ion-col>
                <ion-col>Paciente</ion-col>
                <ion-col col-2>CPF</ion-col>
                <ion-col>Responsável</ion-col>
                <ion-col col-2>Tipo de atendimento</ion-col>
                <ion-col col-1.5>Visualizar/Editar</ion-col>
                <ion-col col-1>Excluir</ion-col>
              </ion-row>
              <ion-row *ngFor="let l of list" align-items-center class="table-content">
                <ion-col col-1.5>{{l.data}}</ion-col>
                <ion-col col-1>{{l.hora}}</ion-col>
                <ion-col>{{l.paciente.pessoa.nome}}</ion-col>
                <ion-col col-2>{{l.paciente.pessoa.cpf}}</ion-col>
                <ion-col>{{l.usuario.pessoa.nome}}</ion-col>
                <ion-col col-2>{{l.tipoAtendimento.nome}}</ion-col>
                <ion-col col-1.5><button ion-button block icon-only clear><ion-icon color="gray" name="eye"></ion-icon></button></ion-col>
                <ion-col col-1><button ion-button block icon-only clear (click)="alertExcluirAtendimento(l)"><ion-icon color="gray" name="trash"></ion-icon></button></ion-col>
              </ion-row>
            </ion-grid>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="list.length < atendimentos.length">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>