<!--
  Generated template for the AgendamentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title icon-start>
      <ion-icon name="calendar"></ion-icon>Agenda
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding fullscreen="true" class="content-bg">
  <div margin-top class="content-padding-side">
    <ion-row>
      <ion-col col-12 col-md no-padding>
        <ion-card>
          <ion-card-header>
            <div>
              <ion-row align-items-end padding-bottom >
                <ion-col class="max-w-35">
                  <button ion-button clear icon-only color="gray" (click)="previousDay()">
                    <ion-icon name="ios-arrow-back-outline"></ion-icon>
                  </button>
                </ion-col>
                <ion-col class="max-w-130">
                  <ion-item style="background-color: transparent">
                    <ion-label floating>Data</ion-label>
                    <ion-input type="text" [mask]="{mask:'99-99-9999'}" [(ngModel)]="dataAgendamento" (keyup)="filtrarAgendamento()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col class="max-w-35">
                  <button ion-button clear icon-only color="gray" (click)="nextDay()">
                    <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                  </button>
                </ion-col>
                <ion-col col-12 col-lg-5>
                  <ion-item style="background-color: transparent">
                    <ion-label floating padding-left>Tipo de atendimento</ion-label>
                    <ion-select interface="popover" [(ngModel)]="filtro.idTipoAtendimento" (ionChange)="filtrarAgendamento()">
                        <ion-option value="null" >Todos</ion-option>
                        <ion-option *ngFor="let t of tiposAtendimento" [value]="t.id" >{{t.nome}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <button icon-start ion-button class="add-btn" float-right (click)="abrirModalCadastroAgendamento()">
                    <ion-icon name="add"></ion-icon>Novo agendamento
                  </button>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-header>
          <div class="divider2"></div>
          <ion-card-content>
            <ion-grid *ngIf="list.length > 0">
              <ion-row class="table-header">
                <ion-col class="max-w-100">Data</ion-col>
                <ion-col class="max-w-60">Hora</ion-col>
                <ion-col class="max-w-180">Tipo de atendimento</ion-col>
                <ion-col>Paciente</ion-col>
                <ion-col class="max-w-130">CPF</ion-col>
                <ion-col class="max-w-130">Telefone</ion-col>
                <ion-col class="max-w-130">Status</ion-col>
                <ion-col class="max-w-80">Atender</ion-col>
                <ion-col class="max-w-80">Cancelar</ion-col>
              </ion-row>
              <ion-row *ngFor="let l of list" align-items-center class="table-content">
                <ion-col class="max-w-100">{{l.data}}</ion-col>
                <ion-col class="max-w-60">{{l.hora}}</ion-col>
                <ion-col class="max-w-180">{{l.tipoAtendimento.nome}}</ion-col>
                <ion-col>{{l.paciente.pessoa.nome}}</ion-col>
                <ion-col class="max-w-130">{{l.paciente.pessoa.cpf}}</ion-col>
                <ion-col class="max-w-130">{{l.paciente.pessoa.telefonePrimario}}</ion-col>
                <ion-col class="max-w-130">
                  <span *ngIf="l.status == 'M'" style="color: #0f0fec">AGENDADO</span>
                  <span *ngIf="l.status == 'A'" style="color: #21cc21">ATENDIDO</span>
                  <span *ngIf="l.status == 'C'" style="color: #e20f0f">CANCELADO</span>
                </ion-col>
                <ion-col class="max-w-80"><button *ngIf="l.status == 'M'" ion-button block icon-only clear (click)="abrirModalCadastroAtendimento(l)"><ion-icon color="gray" name="checkmark"></ion-icon></button></ion-col>
                <ion-col class="max-w-80"><button *ngIf="l.status == 'M'" ion-button block icon-only clear (click)="alertCancelarAgendamento(l)"><ion-icon color="gray" name="close"></ion-icon></button></ion-col>
               </ion-row>
            </ion-grid>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="list.length < agendamentos.length && list.length > 0">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>