<ion-header>
    <ion-navbar color="dark">
        <ion-buttons right>
            <button ion-button icon-only clear (click)="dismiss()">
                <ion-icon name="md-close" item-right></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Novo agendamento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content-bg">
    <ion-card>
        <ion-card-header>
            <ion-row align-items-left class="modal-card-title">
                <ion-icon name="ios-list-box-outline" margin-right color="light"></ion-icon>
                Dados gerais
            </ion-row>
        </ion-card-header>
        <div class="divider2"></div>
        <ion-card-content>
            <form [formGroup]="form">
                <ion-list>
                    <ion-row>
                        <ion-col class="completer" col-6 padding-left padding-right [ngClass]="{'invalid': form.controls.nome.invalid && (form.controls.nome.dirty || form.controls.nome.touched || formSubmit)}">
                            <ion-label class="completer-label">Nome *</ion-label>
                            <ng2-completer style="color:#555;font-size: 1.2em; display: block" formControlName="nome" [textNoResults]="'Nenhum resultado encontrado'" (selected)="selecionado($event)" [(ngModel)]="p"
                                [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
                            <div class="invalid-hint" *ngIf="form.controls.nome.errors?.required && (form.controls.nome.touched || formSubmit)">
                                Campo obrigatório
                            </div>
                        </ion-col>
                        <ion-col col-6 padding-left padding-right>
                            <ion-item>
                                <ion-label floating>CPF *</ion-label>
                                <ion-input formControlName="cpf" disabled [mask]="{mask:'999.999.999-99'}" [(ngModel)]="agendamento.paciente.pessoa.cpf"
                                    type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6 padding-left padding-right>
                            <ion-item>
                                <ion-label floating>Telefone *</ion-label>
                                <ion-input formControlName="telefonePrimario" disabled [mask]="{type: MaskType.CELLPHONE}" type="tel" [(ngModel)]="agendamento.paciente.pessoa.telefonePrimario"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6 padding-left padding-right>
                            <ion-item>
                                <ion-label floating>Telefone</ion-label>
                                <ion-input formControlName="telefoneSecundario" disabled [mask]="{type: MaskType.CELLPHONE}" type="tel" [(ngModel)]="agendamento.paciente.pessoa.telefoneSecundario"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6 padding-left padding-right>
                            <ion-item [ngClass]="{'invalid': form.controls.data.invalid && (form.controls.data.dirty || form.controls.data.touched || formSubmit)}">
                                <ion-label floating>Data *</ion-label>
                                <ion-input formControlName="data" [mask]="{mask:'99/99/9999'}" [(ngModel)]="dataAgendamento" type="text"></ion-input>
                            </ion-item>
                            <div class="invalid-hint" *ngIf="form.controls.data.errors?.required && (form.controls.data.touched || formSubmit)">
                                Campo obrigatório
                            </div>
                            <div class="invalid-hint" *ngIf="(form.controls.data.errors?.data || form.controls.data.errors?.minlength) && form.controls.data.dirty">
                                Data inválida
                            </div>
                        </ion-col>
                        <ion-col col-6 padding-left padding-right>
                            <ion-item [ngClass]="{'invalid': form.controls.hora.invalid && (form.controls.hora.dirty || form.controls.hora.touched || formSubmit)}">
                                <ion-label floating>Hora *</ion-label>
                                <ion-input formControlName="hora" [mask]="{mask:'99:99'}" [(ngModel)]="agendamento.hora" type="text"></ion-input>
                            </ion-item>
                            <div class="invalid-hint" *ngIf="form.controls.hora.errors?.required && (form.controls.hora.touched || formSubmit)">
                                Campo obrigatório
                            </div>
                            <div class="invalid-hint" *ngIf="(form.controls.hora.errors?.hora || form.controls.hora.errors?.minlength) && form.controls.hora.dirty">
                                Hora inválida
                            </div>
                        </ion-col>
                        <ion-col col-12 style="padding-top: 0px !important;">
                            <ion-item>
                                <ion-label floating padding-left>Tipo de atendimento *</ion-label>
                                <ion-select [(ngModel)]="agendamento.tipoAtendimento" interface="popover" formControlName="tipoAtendimento" [ngClass]="{'invalid-box':   form.controls.tipoAtendimento.invalid && (form.controls.tipoAtendimento.touched || formSubmit)}">
                                    <ion-option *ngFor="let t of tiposAtendimento" [value]="t">{{t.nome}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <div class="invalid-hint" *ngIf="form.controls.tipoAtendimento.errors?.required && (form.controls.tipoAtendimento.touched || formSubmit)">
                                Campo obrigatório
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar color="white">
        <ion-buttons right>
            <button type="submit" icon-start ion-button margin-right color="light" (click)="salvarAgendamento()">
                <ion-icon name="checkmark"></ion-icon> salvar
            </button>
            <button icon-start ion-button color="gray" (click)="dismiss()">
                <ion-icon name="close"></ion-icon> cancelar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>