page-tipo-atendimento {

    ion-label{
        color: gray;
    }
    
    ion-card{
        min-height: 100%;
    }

    .card-header{
        text-align: center !important;
        font-size: 1.5em !important;
        color: #6b6b6b !important;
    }

    @media only screen and (min-width: 768px) {
        .content-padding-side {
            padding-left: 0px;
            padding-right: 0px;
        }
        .second-card-col {
            margin-top: 16px !important;
        }
    }

    @media only screen and (min-width: 1200px) {
        .content-padding-side {
            padding-left: 5%;
            padding-right: 23%;
        }
    }

}
