page-tipo-atendimento {

    ion-label{
        color: gray;
    }
    
    .help5{
        margin-left: 5%;
    }


    .help{
        background-color: #39a49e;
        width: 75px;
        height: 20px;
        font-size: 11px;
    }

    .second-card{
        min-height: 100%;
    }
    .lista-tipo-at{
        text-transform: capitalize;
        color: #6b6b6b;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
    }
    
    @media only screen and (min-width: 768px) {
        .content-padding-side {
            padding-left: 0px;
            padding-right: 0px;
        }
        .second-card-col {
            margin-top: 16px !important;
        }
    }

    @media only screen and (min-width: 1700px) {
        .content-padding-side {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

}
